@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

@font-face {
  font-family: arimo;
  src: url(../assets/fonts/Arimo/Arimo-VariableFont_wght.ttf);
}

html, body {
  margin: 0;
  padding: 0;
  font-family: arimo, Arial, Helvetica, sans-serif;
  height: 100%;
}

#main-container {
  display: flex;
  height: 100%;
}

#search-bar {
  width: 20%;
  height: 100%;
  background-color: #f1f1f1;
  box-shadow: 0px 0px 6px 3px #dddddd ;
  display: flex;
  justify-content: center;
  z-index: 1;
}

#search-bar form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 60%;
  margin: auto;
  width: 80%;
}

#search-bar form div {
  width: 100%;
}

#search-bar form div input {
  height: 1.8em;
  outline: none;
  border: none;
  border: 2px solid #E87461;
  border-radius: 0.9em;
  padding-left: 0.7em;
  width: 93%;
  transition: background-color 300ms;
}

#search-bar form div input:hover {
  background-color: #faf2f1;
}

#search-bar form button {
  height: 3em;
  width: 100%;
  border: none;
  border-radius: 0.2em;
  transition: all 300ms;
  font-size: 0.9em;
  color: #f1f1f1;
  letter-spacing: 0.07em;
}

#search-bar form #search-btn {
  background-color: #E87461;
}

#search-bar form #reset-search-btn {
  visibility: hidden;
  opacity: 0;
  background-color: #9893DA;
  transition: visibility 0, opacity 300ms;
}

#search-bar form button:hover {
  cursor: pointer;
  transform: scale(1.02);
}

#search-bar form #search-btn:hover {
  background-color: #d66857;
}

#search-bar form #reset-search-btn:hover {
  background-color: #8581be;
}

#map-container {
  width: 80%;
  height: 100%;
}

#map-header {
  height: 16%;
  width: 90%;
  margin: 0 5%;
  display: flex;
  justify-content: space-between;
}

#disposition-container {
  width: auto;
  height: 100%;
}

#disposition-container p {
  margin: 0;
  height: 20%;
  margin-top: 7%;
  float: right;
  font-size: 0.9em;
}

#disposition-container #btn-container {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: flex-end;
}

#disposition-container #btn-container button {
  width: 6em;
  height: 43%;
  background: none;
  border: none;
  outline: none;
  transition: background-color 200ms;
  box-shadow: 0px 0px 6px 2px #e2e2e2;
  transition: width 500ms;
  overflow: hidden;
  border-right: #cccccc solid 2px;
}

#disposition-container #btn-container button:first-child {
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  box-shadow: -2px 0px 6px 2px #e2e2e2;
}

#disposition-container #btn-container button:last-child {
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  box-shadow: 2px 0px 6px 2px #e2e2e2;
  border-right: none;
}

#disposition-container #btn-container button.active {
  background-color: #e0e0e0;
  border: 2px solid #7E78D2;
  color: #363636;
  z-index: 2;
}

#disposition-container #btn-container button.visible {
  padding: 0;
  width: 6em;
}

#disposition-container #btn-container button.hidden {
  padding: 0;
  width: 0;
  border: none;
  box-shadow: none;
}

#disposition-container #btn-container button:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

#context-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: inherit;
}

#context-container .path-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

#display-container {
  height: 84%;
  overflow: hidden;
}

#display-content {
  width: 100%;
  height: 100%;
}

#error-message {
  margin: auto;
  text-align: center;
  height: 10%;
  position: relative;
  top: 45%;
}


.window-title {
  width: 90%;
  height: 11%;
  margin: 1% 5% 1% 7%;
  font-family: 'PT Sans', sans-serif;}

.window {
  width: 100%;
  height: 100%;
  margin: auto;
}

.overview {
  display: grid;
  width: 90%;
  height: 80%;
  margin: auto;
  box-shadow: 0px 0.1em 0.5em 0.2em #EBEBEB ;
  border-radius: 2%;
  transition: all 100ms;
}

.overview:hover {
  cursor: zoom-in;
  background-color: rgb(245, 245, 245);
}

.practitioner-card {
  height: 80%;
  margin: auto;
  border-radius: 5%;
  transition: all 300ms;
}

.practitioner-card:hover {
  cursor: pointer;
  transform: scale(1.05);
  opacity: 0.8;
}

.modal-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0.5;
  border: 1px blue solid;
}


/*******************
Loading animation
********************/
.lds-roller {
  display: inline-block;
  position: relative;
  left: 47%;
  top: 30%;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #7A93AC;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
